<h3>{{model.name}}</h3>
<table class="table table-condensed">
  <tr>
    <th>Beer</th>
    <th>ABV</th>
  </tr>
  {{#each beer in model.beers}}
  <tr>
    <td>{{beer.name}}</td>
    <td>{{beer.abv}}</td>
  </tr>
  {{/each}}
</table>
